<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Email: <%= @user.phone if @user.phone %></p>
<p>Email: <%= @user.altphone if @user.altphone %></p>
<p>Email: <%= @user.drives if @user.drives %></p>
<p>Email: <%= @user.balance if @user.balance %></p>
