<h3>
  MILK CYCLES
  <span class="newbutton"><%= link_to "NEW MILK CYCLE", new_cycle_path, class: "btn btn-primary" %>
</h3>

<div class="span8">
	<table class="table">
  <thead>
			<tr>
				<!-- 1 -->
				<th>NAME</th>

				<!-- 2 -->
				<th>CURRENT</th>

				<!-- 3 -->
				<th>FIRST RUN</th>

				<!-- 4 -->
				<th>LAST RUN</th>

				<th></th>
				<th></th>
				<th></th>
				<th></th>

				<!-- 5 -->
				<th></th>

			</tr>
  </thead>

		<% Cycle.all.each do |c| %>
		<% @first = c.milkruns.first %>
		<% @last = c.milkruns.last %>

			<tr>
				<% if c == current_cycle %>
					<!-- 1 -->
					<td><%= link_to "#{c.name}", cycle_path(c), class: "btn-sm btn-success" %></td>

					<!-- 2 -->
					<td class="number">
	          <div class="icon_sm">
	            <%= link_to image_tag("icon_check_solid.png"), cycle_path(c) %>
	          </div>
	        </td>

				<% else %>
					<!-- 1 -->
					<td><%= link_to "#{c.name}", cycle_path(c), class: "btn-sm btn-primary" %></td>

					<!-- 2 -->
					<td></td>
				<% end %>

				<% if @first.nil? %>
					<!-- 3 -->
					<td><%= c.startdate.strftime("%B %d, %Y") %></td>

					<!-- 4 -->
					<td></td>

				<% else %>
					<!-- 3 -->
					<td>
						<%= link_to @first.date.strftime("%B %d, %Y"), milkrun_path(@first) %>
					</td>

					<!-- 4 -->
					<td>
						<%= link_to @last.date.strftime("%B %d, %Y"), milkrun_path(@last) %>
					</td>
				<% end %>

				<td></td>
				<td></td>
				<td></td>
				<td></td>



				<!-- 5 -->
	      <td class="button">
	        <div class="btn-group btn-group-xs">
	          <%= link_to image_tag("icon_delete2.png"), c, class: "btn btn-danger icon",
	                method: :delete, data: { confirm: "Do you seriously want to delete this Milk Cycle?\n YOU CANNOT UNDO THIS ACTION." } %>
	        </div>
	      </td>

	    </tr>
		<% end %>
	</table>
</div>