<h3>
  <% if @cycle == current_cycle %>
    <div class="newbutton2">
  	 <%= link_to "CURRENT CYCLE" + " " + "#{@cycle.name}", cycles_path, class: "label label-success" %>
    </div>
  <% else %>
    <div class="newbutton2">
     <%= link_to "CYCLE" + " " + "#{@cycle.name}", cycles_path, class: "label label-warning" %>
    </div>
  <% end %>

	MILK RUNS

    <div class="runtotals2">
    START DATE
    <div class="label label-info"><%= @cycle.startdate.strftime("%b %Y") %></div>
  </div>

  <div class="runtotals2">
    END DATE
    <div class="label label-info"><%= @cycle.lastdate.strftime("%b %Y") %></div>
  </div>

  <span class="btn-group newbutton">
    <%= link_to "NEW MILK RUN", new_cycle_milkrun_path(@cycle.id), class: "btn btn-primary" %>
    <%= link_to "SETTINGS", edit_cycle_path(@cycle), class: "btn btn-default" %>
  </span>
</h3>

</br>
<div class="span8">
<table class="table">
  <thead>
    <tr>
      <th>DATE</th>
      <th></th>

      <th>DRIVER</th>

      <th>MILK</th>
      <th>BUTTERMILK</th>
      <th>CREAM</th>

      <th>MILK TOTAL</th>
      <th>GAS</th>

      <th>FREEZER BAGS</th>

      <th>ICE BAGS</th>
      <th>ICE COST</th>

      <th>TOTAL COST</th>
    </tr>
  </thead>
  <tbody>
    <% if !@cycle.milkruns.empty? %>

    <% @cycle.milkruns.all.each do |m| %>
    <tr>
      <td><%= link_to m.date.strftime("%B %d"), milkrun_path(m) %></td>
      
      <td class="button">
        <div class="btn-group btn-group-xs">
          <%= link_to image_tag("icon_view2.png"), milkrun_path(m), class: "btn btn-info icon_view" %>
          <%= link_to image_tag("icon_edit.png"), edit_milkrun_path(m), class: "btn btn-default icon" %>
          <%= link_to image_tag("icon_delete2.png"), m, class: "btn btn-warning icon",
                method: :delete, data: { confirm: "Do you really want to delete this Milk Run?" } %>
        </div>
      </td>
      
      <% driven = m.orders.find_by_driver(true) %>
      <% if !driven.nil? %>
      <td><%= link_to driven.buyer.name, driven.buyer %></td>
      <% else %>
      <td>-</td>
      <% end %>

      <td class="number"><%= m.m_orders %></td>
      <td class="number"><%= m.b_orders %></td>
      <td class="number"><%= m.c_orders %></td>

      <td class="number"><%= price(m.order_total) %></td>
      <td class="number"><%= price(m.gas) %></td>

      <td class="number"><%= m.freezer_bags %></td>

      <td class="number"><%= m.ice %></td>
      <td class="number"><%= price(m.ice_cost) %></td>

      <td class="number"><%= price(m.total_cost) %></td>



    </tr>
    <% end %>

    <% else %>
    <tr>
      <td>No Milk Runs Found.</td>
    </tr>
    <% end %>

  </tbody>

</table>
</div>

