<h3>
<% if @cycle == current_cycle %>
    <div class="newbutton2">
  	 <%= link_to "CURRENT CYCLE" + " " + "#{@cycle.name}", cycles_path, class: "btn btn-success" %>
    </div>

<% else %>
    <div class="newbutton2">
     <%= link_to "CYCLE" + " " + "#{@cycle.name}", cycles_path, class: "btn btn-warning" %>
    </div>
<% end %>




	MILK RUNS

  <div class="runtotals2">
    START DATE
    <div class="label label-info"><%= @cycle.startdate.strftime("%b %Y") %></div>
  </div>

  <div class="runtotals2">
    END DATE
    <div class="label label-info"><%= @cycle.lastdate.strftime("%b %Y") %></div>
  </div>

  <span class="btn-group newbutton">
    <%= link_to "NEW MILK RUN", new_cycle_milkrun_path(@cycle), class: "btn btn-primary" %>
    <%= link_to "SETTINGS", edit_cycle_path(@cycle), class: "btn btn-default" %>
  </span>

</h3>
</br>

<div class="span8">

<table class="table">
  <thead>
    <tr>
      <th>DATE</th>
      <th></th>

      <th>DRIVER</th>
      <th></th>

      <th>MILK</th>
      <th>BUTTER</th>
      <th>CREAM</th>

      <th>MILK TOTAL</th>
      <th>GAS</th>

      <th>FREEZER BAGS</th>

      <th>ICE BAGS</th>
      <th>ICE COST</th>

      <th>TOTAL COST</th>
    </tr>
  </thead>
  <tbody id="trackorder">

    <%= render 'cycles/milktable' %>

  </tbody>

</table>
</div>


  <script>
    $("#trackorder").sortable({ 
      placeholder: "sort_highlight",
      distance: 10,
      opacity: 0.80,
      axis: "y",
      cursor: "move",
      tolerance: "intersect",

       update: function(){
        $.ajax({
          type: 'post',
          data: $('#trackorder').sortable('serialize'),
          dataType: 'script',
          url: '<%= sort_milkruns_path %>'})
        }
    });
  </script>
