<h2>NEW ORDER
	<span class="btn btn-default"><%= link_to @order.milkrun.date.strftime("%B %d, %Y"), @order.milkrun %></span>
</h2>

<%= simple_form_for ([@milkrun, @milkrun.orders.build]) do |f| %>
	<div id="neworder">

		<%= f.association :buyer, label: false, collection: Buyer.active(order: "lastname") %>
		<span class="label">Family</span>

		<%= f.input :driver, label: false, as: :boolean, default: "false", input_html: {class: "form-control"} %>
		<span class="label">Driver</span>

		<%= f.input :milk, label: false, input_html: {class: "form-control"} %>
		<span class="label">Milk</span>

		<%= f.input :buttermilk, label: false, input_html: {class: "form-control"} %>
		<span class="label">Buttermilk</span>

		<%= f.input :cream, label: false, input_html: {class: "form-control"} %>
		<span class="label">Cream</span>

	</div>

	<div class="button">
	  <%= f.button :submit, 'Place Order', :class => 'btn-primary' %>
	</div>
		<%= f.input :milkrun_id, as: :hidden %>
		<%= f.input :date, as: :hidden, default: "#{@milkrun.date}" %>

<% end %>
