<p id="instructions" class="noprint">
	<span class="label label-info">PICKUP</span> PRINT INSTRUCTIONS: In Firefox, go to <span>File > Page Setup</span> </br>
	Check to see that <span class="label label-danger">LANDSCAPE LAYOUT</span> is active. It probably looks like this:  <%= image_tag("landscape.png") %></br>
	Click <span>OK</span> and hit <span>&#8984; + P</span> to print, or click here  <%=link_to_function(image_tag("icon_print.png"), "javascript:print()", class: "btn btn-default", id: "icon_print") %>
</p>

<h3>
	<div id="milkdate" class="label label-default">
		<%= link_to @milkrun.date.strftime("%B %d, %Y").upcase, milkrun_path(@milkrun) %>
	</div>
	<div class="noprint p_ref">PICKUP SHEET</div>

<% x = @milkrun %>

	<div class="btn-group newbutton noprint">	
	  <%= link_to "ARCHIVE", p_archive_milkrun_path, class: "btn btn-default" %>
	  <%= link_to "PICKUP", p_pickup_milkrun_path, class: "btn btn-primary" %>
	  <%= link_to "INSTRUCTIONS", instructions_milkrun_path, class: "btn btn-default" %>
	</div>

	<% if @milkrun.gasprice == 0 || @milkrun.gasprice.nil? %>
		<h2>
			<span class="noprint label label-danger"><%= link_to "PLEASE SET A GAS PRICE",
																						edit_milkrun_path(@milkrun) %></span>
		</h2>
	<% end %>
</h3>

</br>

<div class="span8">
<table class="table table-condensed fourteen">
  <thead>
    <tr>
      <th>NAME</th>
      <th>DRIVE DATE</th>

      <th class="noscreen">GOT MILK</th>

      <th>MILK</th>
      <th>BUTTER</th>
      <th>CREAM</th>
      <th>GALLONS</th>

      <th>AMOUNT DUE</th>

    </tr>
  </thead>

  <% if !@milkrun.orders.nil? %>
	  <tbody>
	  	<% sorted = @milkrun.orders.sort! {|x,y| x.buyer.lastname <=> y.buyer.lastname } %>
	    <% sorted.each do |ord| %>
	    <% if ord.gallons == 0 %>
	    	<tr class="noscreen noprint"></tr>
	    <% else %>
		    <tr>
		    	<!-- NAME -->
		    	  <td class="name"><%= link_to "#{ord.buyer.name}", ord.buyer %></td>

		    	<!-- DRIVE DATE -->
		    	<% if ord.driver? %>
			      <td class="name">DRIVER</td>
		    	<!-- NON DRIVER -->
		    	<% elsif ord.buyer.drive_order.nil? %>
			      <td class="name">-</td>
		    	<% elsif (ord.buyer.nextdrive.empty?) || (ord.buyer.nextdate > ord.milkrun.cycle.lastdate) %>
			      <td class="name">done</td>
			    <% else %>
		    	  <td class="name"><%= link_to "#{ord.buyer.nextdate.strftime("%B %d, %Y")}", ord.milkrun %></td>
		    	<% end %>

		    	<!-- GOT MILK -->
		    	<td class="noscreen number box icon_view2"><%= image_tag("icon_view2.png") %></td>

		    	<!-- MILK GALLONS -->
		      <td class="number"><%= ord.milk %></td>

		    	<!-- BUTTERMILK GALLONS -->
		      <td class="number"><%= ord.buttermilk %></td>

		    	<!-- CREAM GALLONS -->
		      <td class="number"><%= ord.cream %></td>

		    	<!-- TOTAL GALLON COUNT -->
		      <td class="number"><%= ord.gallons %></td>


		      <!-- TOTAL COST -->
		      <% if ord.buyer.balance >= 0  %>
		      <td class="number">&#9786;</td>
		      <% else %>
		      <td class="number"><span class="red"><%= price(ord.buyer.balance.abs) %></span></td>
		      <% end %>

		    </tr>
		    <% end %>
    	<% end %>
  	</tbody>
	  <tbody>
	    <tr class="milkrun_totals">

        <!-- INTENTIONALLY BLANK -->
	    	<td class="noscreen"></td>
        <td></td>
        <td></td>
        <!--  -->

	      <td class="number"><%= x.m_orders %></td>
	      <td class="number"><%= x.b_orders %></td>
	      <td class="number"><%= x.c_orders %></td>
	      <td class="number"><%= x.order_count %></td>

	      <td class="noprint number"></td>

	    </tr>
  	</tbody>
  <% else %>
	  <tbody>
	  </tbody>
  <% end %>

</table>
</div>



