<h3><div id="milkdate" class="label label-default"><%= @milkrun.date.strftime("%B %d, %Y").upcase %></div>

<div class="runtotals" class="btn btn-default">
	TO DRIVER
	<div class="label label-warning"><%= price(@milkrun.total_trip_cost.floor) %></div>
</div>
<div class="runtotals" class="btn btn-default">
	TO FARM
	<div class="label label-warning"><%= price(@milkrun.order_total) %></div>
</div>

<% x = @milkrun %>
<% if x.diff <= 0 %>
<div class="noprint runtotals btn btn-default">
	<div class="label label-danger"><%= price(x.diff) %></div>
</div>
<% else %>
<div class="noprint runtotals btn btn-default">
	<div class="label label-success"><%= price(x.diff) %></div>
</div>
<% end %>

<div class="noprint btn-group newbutton">	
  <%= link_to "NEW ORDER", new_milkrun_order_path(@milkrun.id), class: "btn btn-primary" %>
  <%= link_to "SETTINGS", edit_milkrun_path(@milkrun), class: "btn btn-default" %>
  <%= link_to image_tag("icon_print.png"), p_archive_milkrun_path, class: "btn btn-default", id: "icon_print" %>
</div>
</h3>

</br>

<div class="span8">
<table class="table table-condensed">
  <thead>
    <tr>
      <th>DRIVER</th>
      <th>NAME</th>
      <th class="noprint"></th>

      <th>MILK</th>
      <th>BUTTER</th>
      <th>CREAM</th>
      <th>GALLONS</th>
      <th>ORDER COST</th>

      <th>CAPPED</th>
      <th>NORMAL</th>
      <th>PPG</th>
      <th>AMOUNT DUE</th>

    </tr>
  </thead>

  <% if !@milkrun.orders.nil? %>
	  <tbody>
	  	<% sorted = @milkrun.orders.sort! {|x,y| x.buyer.lastname <=> y.buyer.lastname } %>
	    <% sorted.each do |ord| %>
	    <tr>
	    	<!-- DRIVER -->
	    	<% if ord.driver? %>
		      <td class="name"><%= link_to "#{ord.buyer.name}", ord.buyer %></td>
		      <td><span class="label label-success noprint"><%= link_to "PAY DRIVER", new_buyer_payment_path(ord.buyer.id) %></span></td>
	    	<% else %>
	    	<!-- NON DRIVER -->
	  	    <td></td>
	    	  <td class="name"><%= link_to "#{ord.buyer.name}", ord.buyer %></td>
	    	<% end %>

	      <!-- BUTTONS -->
	      <td class="button noprint">
		      <div class="btn-group btn-group-xs">
		      	<!-- PAY BUYER -->
		      	<% if ord.driver? %>
						<%= link_to image_tag("icon_pay.png"), new_buyer_payment_path(ord.buyer.id), class: "btn btn-default icon" %>
						<% else %>
						<%= link_to image_tag("icon_pay.png"), new_buyer_payment_path(ord.buyer.id), class: "btn btn-success icon" %>
						<% end %>
						<!-- EDIT ORDER -->
		      	<%= link_to image_tag("icon_edit.png"), edit_order_path(ord), class: "btn btn-default icon" %>
		      	<!-- DELETE ORDER -->
		      	<%= link_to image_tag("icon_delete2.png"), ord, class: "btn btn-warning icon", method: :delete,
			             data: { confirm: "Do you really want to delete this Order?" } %>
		      </div>
        </td>

	    	<!-- MILK GALLONS -->
	      <td class="number"><%= ord.milk %></td>

	    	<!-- BUTTERMILK GALLONS -->
	      <td class="number"><%= ord.buttermilk %></td>

	    	<!-- CREAM GALLONS -->
	      <td class="number"><%= ord.cream %></td>

	    	<!-- TOTAL GALLON COUNT -->
	      <td class="number"><%= ord.gallons %></td>

	    	<!-- ORDER COST -->
	      <td class="number"><span class="dollar">$</span><%= price(ord.order_cost) %></td>

	      <!-- TRIP COST -->
      	<% if ord.under == true %>
		      <td class="number"><%= price(ord.capped) %></td>
		      <td class="number">-</td>
	      <% else %>
		      <td class="number">-</td>
		      <td class="number"><%= price(ord.capped) %></td>
		    <% end %>

		    <!-- PER GALLON COST -->
      	<% if ord.under == true %>
		      <td class="number"><span class="label label-info"><%= ord.capped_ppg %></span></td>
	      <% elsif ord.capped_ppg > 1 %>
		      <td class="number"><span class="label label-danger"><%= ord.capped_ppg %></span></td>
	      <% else %>
	  	    <td class="number"><span class="label label-default"><%= ord.capped_ppg %></span></td>
	      <% end %>

	      <!-- TOTAL COST -->
	      <td class="number"><span class="dollar">$</span><%= price(ord.amount_due) %></td>

	    </tr>
    	<% end %>
  	</tbody>
	  <tbody>
	    <tr class="milkrun_totals">

        <!-- INTENTIONALLY BLANK -->
	    	<td></td>
	    	<td></td>
        <td></td>
        <!--  -->

	      <td class="number"><%= x.m_orders %></td>
	      <td class="number"><%= x.b_orders %></td>
	      <td class="number"><%= x.c_orders %></td>
	      <td class="number"><%= x.order_count %></td>

	      <td class="number"><span class="dollar">$</span><%= price(x.order_total) %></td>
	      <td class="number">-</td>
	      <td class="number">-</td>
	      <td class="number"><span class="dollar">$</span><%= price(x.total_capped_cost) %></td>
	      <td class="number"><span class="dollar">$</span><%= price(x.total_due) %></td>

	    </tr>
  	</tbody>
  <% else %>
	  <tbody>
	  </tbody>
  <% end %>

</table>
</div>



