<tbody>
  <% Buyer.inactive.each do |b| %>
  <tr>

  <% if b.notes.empty? %>
    <td class="number"></td>
  <% else %>
    <td class="number"><span class="label label-info"><%= link_to b.notes.count, b %></span></td>
  <% end %>

    <td><%= link_to "#{b.name}", b %></td>

    <td class="button">
      <div class="btn-group btn-group-xs">
        <%= link_to image_tag("icon_edit.png"), edit_buyer_path(b), class: "btn btn-default icon" %>
        <%= link_to image_tag("icon_arc.png"), activate_buyer_path(b), class: "btn btn-default icon" %>
      </div>
    </td>
    
    <td><%= b.email %></td>
    <td><%= b.phone %></td>
    <td><%= b.altphone %></td>

  <% if b.balance < 0 %>
    <td class="number"><span class="label label-danger"><%= b.balance %></span></td>
  <% else %>
    <td class="number"><span class="label label-success"><%= b.balance %></span></td>
  <% end %>

    <td><%= b.deposit %></td>

  </tr>
  <% end %>
</tbody>