<h3>
  <div class="btn-group">
    <%= link_to "ACTIVE FAMILIES", active_buyers_path, class: "btn btn-warning" %>
    <%= link_to "INACTIVE FAMILIES", inactive_buyers_path, class: "btn btn-default" %>
  </div>

  <span class="newbutton"><%= link_to "New Family", new_buyer_path, class: "btn btn-default" %></span>
</h3>
</br>
<div class="span8">
<table class="table table-condensed">
  <thead>
    <tr>
      <th>NAME</th>
      <th>EMAIL</th>
      <th>PHONE</th>
      <th>ALTERNATE PHONE</th>
      <th>BALANCE</th>
      <th></th>
    </tr>
  </thead>
  
  <% if !Buyer.active.nil? %>
    <tbody>
      <% Buyer.active.each do |b| %>
      <tr>
        <td><%= link_to "#{b.name}", b %></td>

        <td>
          <div class="icon">
            <%= link_to image_tag("icon_edit.png"), edit_buyer_path(b), class: "icon_edit" %>
            <%= link_to image_tag("icon_unarc.png"), deactivate_buyer_path(b) %>
          </div>
        </td>
        
        <td><%= b.email %></td>
        <td><%= b.phone %></td>
        <td><%= b.altphone %></td>
        <td><%= b.balance %></td>

      </tr>
      <% end %>
    </tbody>

  <% else %>
    <tbody>
    </tbody>
  <% end %>

</table>
</div>