<h2 class="btn btn-primary">NEW FAMILY</h2>

<%= simple_form_for @buyer do |f| %>
	<div id="newfamily">

		<%= f.input :firstname, label: false, input_html: {class: "form-control"} %>
		<span class="label">First Name</span>

		<%= f.input :lastname, label: false, input_html: {class: "form-control"} %>
		<span class="label">Last Name</span>

		<%= f.input :email, label: false, input_html: {class: "form-control"} %>
		<span class="label">Email</span>

		<%= f.input :phone, label: false, input_html: {class: "form-control"} %>
		<span class="label">Phone</span>

		<%= f.input :altphone, label: false, input_html: {class: "form-control"} %>
		<span class="label">Alternate Phone</span>
	</div>

	<div id="trip">
		<%= f.input :perm_milk, label: false, input_html: {class: "form-control"} %>
		<span class="label">Milk</span>

		<%= f.input :perm_butter, label: false, input_html: {class: "form-control"} %>
		<span class="label">Buttermilk</span>

		<%= f.input :perm_cream, label: false, input_html: {class: "form-control"} %>
		<span class="label">Cream</span>
	</div>

	<div id="trip">
		<%= f.input :drive_order, label: false, input_html: {class: "form-control"} %>
		<span class="label">Drive Order</span>
	</div>

	<div class="button">
  <%= f.button :submit, 'Create', :class => 'btn-primary' %>
	</div>
	
	<% end %>