	<!-- CREATE ARRAYS -->

	<% sorted = [] %>
	<% orders = @buyer.orders %>
	<% payments = @buyer.payments %>

	<% orders.each do |o| %>
		<% if o.milkrun.active? %>
  	<% sorted.push(o) %>
  	<% end %>
	<% end %>

	<% payments.each do |p| %>
		<% sorted.push(p) %>
	<% end %>

	<% sorted.sort! {|x,y| x.date <=> y.date } %>

<h3><div class="label label-warning"><%= @buyer.name %></div>

	<div class="runtotals" class="btn btn-default">
		Status:
	<% if @buyer.active? %>	
		<div class="label label-success"><%= link_to "ACTIVE", deactivate_buyer_path(@buyer) %></div>
		<%= link_to image_tag("icon_unarc2.png"), deactivate_buyer_path(@buyer), class: "icon_sm" %>
	<% else %>
		<div class="label label-default"><%= link_to "INACTIVE", activate_buyer_path(@buyer) %></div>
		<%= link_to image_tag("icon_arc.png"), activate_buyer_path(@buyer), class: "icon_sm" %>
	<% end %>
	</div>

	<% if @buyer.gas_credits > 0 %>
		<div class="runtotals" class="btn btn-default">
			GAS CREDIT EARNED
			<div class="label label-info"><%= price(@buyer.gas_credits) %></div>
		</div>
	<% end %>

		<div class="runtotals" class="btn btn-default">
			DRIVE COUNT
			<div class="badge"><%= @buyer.drivecount %></div>
		</div>

	<div class="runtotals" class="btn btn-default">
	<% if @buyer.balance >= 0 %>	
		Current Balance:
		<div class="label label-success"> <%= @buyer.balance %></div>
	<% else %>
		Current Balance:
		<div class="label label-danger"> <%= @buyer.balance %></div>
	<% end %>
	</div>

  <span class="btn-group newbutton">
  	<%= link_to "NEW PAYMENT", new_buyer_payment_path(@buyer.id), class: "btn btn-primary" %>
  	<%= link_to "SETTINGS", edit_buyer_path(@buyer.id), class: "btn btn-default" %>
  </span>
</h3>
</br>
<div class="notes">
	<% if @buyer.notes.empty? %>
		<div class="no_notes">there are no Notes for this Family.</div>
	<% else %>
	<% @buyer.notes.each do |n| %>
		<div class="each_note">
	    	<span>
    	    <div class="btn-group btn-group-xs">
  	        <%= link_to image_tag("icon_delete3.png"), n, class: "btn label-default icon", method: :delete %>
  	        <%= link_to image_tag("icon_edit.png"), edit_note_path(n), class: "btn btn-default icon" %>
	        </div>
	      </span>
	      <span class="body"><%= n.body %></span>
		</div>
		<% end %>
	<% end %>
	<h5>
  	<%= link_to "NEW NOTE", new_buyer_note_path(@buyer.id), class: "btn btn-xs btn-default" %>
	</h5>
</div>

<div class="span8">
<table class="table">
  <thead>
    <tr>
      <th>DATE</th>
      <th>TYPE</th>
      <th></th>
      <th>MILK</th>
      <th>BUTTERMILK</th>
      <th>CREAM</th>
      <th>AMOUNT</th>
    	<th></th>
    </tr>
  </thead>

  <% if !sorted.empty? %>
	  <tbody>	    
	    <% sorted.each do |t| %>
	    <tr>
    	<!-- 2. DATE -->
	    	<% if t.is_a? Order %>
	    		<% if t.driver? %>
	    		<td><%= link_to "#{t.milkrun.date.strftime("%B %d, %Y")}", t.milkrun %>&nbsp; &nbsp; &#9642; driver</td>
	    		<% else %>
	    		<td><%= link_to "#{t.milkrun.date.strftime("%B %d, %Y")}", t.milkrun %></td>
	    		<% end %>
	    	<% else %>
	    		<td><%= t.date.strftime("%B %d, %Y") %></td>
	    	<% end %>

    	<!-- 3. TYPE  4 5 6 -->
	    	<% if t.is_a? Order %>
		    	<td class="number"><span class="label label-info">Order</span></td>
		    	<td class="number">-</td>		    	
		    	<td class="number"><%= t.milk %></td>
		    	<td class="number"><%= t.buttermilk %></td>
		    	<td class="number"><%= t.cream %></td>
	    	<% else %>
		    	<td class="number"><span class="label label-success">Payment</span></td>
		    	<td class="number"><%= t.category %></td>
		    	<td class="number"></td>
		    	<td class="number"></td>
		    	<td class="number"></td>
	    	<% end %>

    	<!-- 7. AMOUNT -->
	    	<% if t.is_a? Order %>
		    	<td class="number"><span class="dollar">$</span><%= price(t.amount_due) %></td>
	    	<% else %>
		    	<td class="number"><span class="dollar">$</span><span class="label label-success"><%= price(t.amount) %></span></td>
	    	<% end %>

    	<!-- 8. -->

    	<!-- 9. DELETE -->
	    	<% if t.is_a? Payment %>
	    	<td class="number">
    	    <div class="btn-group btn-group-xs">
  	        <%= link_to image_tag("icon_delete2.png"), t, class: "btn btn-warning icon",
                method: :delete, data: { confirm: "Do you really want to delete this Payment?" } %>
	        </div>
	      </td>
	    	<% else %>
		    	<td></td>
	    	<% end %>
	    </tr>
    	<% end %>
  	</tbody>

  <% else %>
	  <tbody>
	  	<td>No Transactions Found.</td>
	  </tbody>
  <% end %>

</table>
</div>
