<% if user_signed_in? %>

	<div id="logo">
	<% if current_run.nil? %>
		<%= link_to image_tag("milklogo.png"), root_path %>
	<% else %>
		<%= link_to image_tag("milklogo.png"), milkrun_path(current_run) %>
	<% end %>
	</div>


	<div class="btn-group">
	  <%= link_to "CYCLES", cycles_path, class: "btn btn-default" %>
	  <%= link_to "MILK RUNS", root_path, class: "btn btn-default" %>
	  <%= link_to "FAMILIES", active_buyers_path, class: "btn btn-default" %>
	</div>

	<div class="nav pull-right btn-group">
    <%= link_to 'SIGN OUT', destroy_user_session_path, :method=>'delete',
    																						class: "btn btn-default" %>
  </div>

<% else %>
	<div id="logo">
		<%= link_to image_tag("milklogo.png"), "#" %>
	</div>

	<div class="btn-group">
    <%= link_to 'SIGN IN', new_user_session_path, class: "btn btn-default" %>
		<!-- NAVIGATION LINK FOR NEW USER in NAVSCRAP-->
  </div>

<% end %>