<div id="logo">
<% if current_run.nil? %>
	<%= link_to image_tag("milklogo.png"), root_path %>
<% else %>
	<%= link_to image_tag("milklogo.png"), milkrun_path(current_run) %>
<% end %>
</div>

<!-- <div class="span8"> -->
<div class="btn-group">
  <%= link_to "CYCLES", cycles_path, class: "btn btn-default" %>
  <%= link_to "MILK RUNS", root_path, class: "btn btn-default" %>
  <%= link_to "FAMILIES", active_buyers_path, class: "btn btn-default" %>
</div>
<!-- </div> -->

<!-- NAV PULL-RIGHT from SCRAP -->
